<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    .kl{
    margin-top: 2%;
}
    .navbar{
        background: rgb(123, 123, 235);
        display: flex;
        justify-content: center;
        
    }
    
h1{
    display: flex;
    justify-content: center;
    font-family: 'Regular 400'  ;


}
h2{
    display: flex;
    justify-content: center;
    font-family: 'Regular 400'  ;


}
    img{
        margin-top: 5%;
        background-size: auto;
  background-size:100% 100%;
  z-index: -1;position: fixed;
  width: 100%;
  height: 100%;
  opacity: 30%;
  top: 0;
  left: 0;

  position:absolute;
  

    }
</style>
<body>
    <nav class="navbar navbar-expand-lg  ">
        
          <div class="container-fluid gg" >
           
            
            <a class="navbar-brand font-effect-shadow-multiple" style="color: cornsilk; font-family: Regular 400;  font-size: 27px;" href="/">Navbar</a>
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"  ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item ">
                  <a style="color: rgb(254, 254, 255); font-family:  'Trirong', serif;  font-size: 27px; margin-left: 5%; " class="nav-link active font-effect-shadow-multiple" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link font-effect-shadow-multiple" style="color: rgb(250, 251, 252);font-family:  'Trirong', serif;    font-size: 27px; margin-left: 10%; "  href="/about">About </a>
                </li>
                <li class="nav-item font-effect-emboss">
                  <a style="color:rgb(247, 250, 253); font-family:  'Trirong', serif;    font-size: 27px; margin-left: 10%; " class="nav-link font-effect-shadow-multiple" href="#">ChatBot</a>
                </li>
               
              </ul>
             
            </div>
          </div>
        </nav>
        <img src=".\static\d6eed12d-3c21-419f-a58c-4c764e7ccd26.jpg" alt="">
        <h1 class="font-effect-emboss " style="color: rgb(34, 33, 32) ; font-size: 4rem;">About our Project</h1>
        <div class="kl">  
        <h2 class="font-effect-emboss " style="color: rgb(34, 33, 32) ;">Problem Statement</h2>
        <div class="container " style="justify-content: center; display: flex;" >
        <p class="font-effect-shadow-multiple" style=" width: 50%;">Approximately 9 percent of the global population is suffering from hunger. And, much of the world’s food is grown by small-scale, independent farms and distributed through local community cooperatives who sell the surplus produce. The co-ops are a central point for quality control, deliveries, and enabling food commodity markets. However, these co-ops face a myriad of logistical challenges to get the right food to the right places with minimal time and cost.

        </p>
    </div>
    </div>
</body>
</html>